<form class="form">
    <h1>Criando um novo Cliente</h1>
    <mat-form-field class="full-width">
      <mat-label>Nome</mat-label>
      <input matInput placeholder="Ex. Linus Torvalds" [(ngModel)]="cliente.nome" name="nome" [formControl]="nome" required maxlength="100">
      <mat-error *ngIf="nome.invalid">{{ errorValueNome() }}</mat-error>
    </mat-form-field>
    <mat-form-field class="full-width">
        <mat-label>CPF</mat-label>
        <input matInput placeholder="Ex. 300.397.798-90" [(ngModel)]="cliente.cpf"  name="cpf" [formControl]="cpf" required maxlength="14">
        <mat-error *ngIf="cpf.invalid">{{ errorValueCpf() }}</mat-error>
      </mat-form-field>
      <mat-form-field class="full-width">
        <mat-label>Telefone</mat-label>
        <input matInput placeholder="Ex. (13)3596-7620" [(ngModel)]="cliente.telefone"  name="telefone" [formControl]="telefone" required maxlength="14">
        <mat-error *ngIf="telefone.invalid">{{ errorValueTelefone() }}</mat-error>
      </mat-form-field>
      <button class="mat-elevation-z8" mat-stroked-button color="accent" (click)="create()" [disabled]="errorValueNome() ||  errorValueCpf() || errorValueTelefone()">Criar</button>
    <button class="mat-elevation-z8" mat-stroked-button color="warn" (click)="cancel()">Cancelar</button>
  </form>